<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Server Side Rendering</title>
</head>
<body>

  <h1><%= message %></h1>

  <ul>
  <% list.forEach(function(n){ %>
    <li><%= n %></li>
  <% }) %>
  </ul>



</body>
</html>
